<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<title>Rakuzon</title>
</head>
<body>

	<nav th:fragment="header" class="navbar navbar-expand-sm navbar-dark mb-3">
		<div class="container-fluid p-3" style="background-color: #131921">
			<a class="navbar-brand fs-3" href="home.html" th:href="@{/top-page}"
				style="color: #f99904; font-family: sans-serif"><img src="/image/logo.png" alt="Rakuzon" width="220" height="40"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>


</body>
</html>