<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>500</title>
<link rel="stylesheet" href="/css/500.css">
</head>
<body>
<!--  
 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
  -->
        <div class='c'>
            <div class='_500'>500</div>
            <hr>
            <div class='_3'>SORRY…</div>
            <div class='_1'>THE PAGE</div>
            <div class='_2'>WAS NOT FOUND</div>
            <a th:href="@{/top-page}" class='btn' href='#'>ホームへ戻る</a>
        </div>
</body>
</html>
